.typeahead,
.tt-query,
.tt-hint {
  font-size: 24px;
}

.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  color: gray;
  text-align: left;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


#editor {
  width: 100%;
  min-height: 350px;
}



#output {
    font-family: Andale Mono, monospace;  
    font-size:16px;
    width: 100%;
    min-height:100px;
    background:#2A2929;
    padding:10px;
    border-right: solid;
}
#output pre { 
  color: #63de00!important; 
  background:#2A2929;
  font-size:16px;
  line-height: 1.2em;
  border: 0px;
  padding: 0px;
}

@keyframes blink
{
  0%   {  background:rgba(99,222,0,100);  }
  100% {  background:rgba(99,222,0,0);  }
}

@-webkit-keyframes blink {
  0%   {  background:rgba(99,222,0,100);  }
  100% {  background:rgba(99,222,0,0);  }
}
@-moz-keyframes blink {
  0%   {  background:rgba(99,222,0,100);  }
  100% {  background:rgba(99,222,0,0);  }
}
.cursor {
  background:#63de00; 
  display:inline-block;
  width:4px;
  height:19px;
  margin-bottom:-3px;
}
#output:hover .cursor {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
}
  
#output pre::-webkit-selection  {
    background:#0b209e;
}
#output pre::selection { background:#0b209e; }
#output pre::-moz-selection { background:#0b209e; }


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* css for waiting match client */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* css for scoreboard */
.score-result {
  background-color: white;
}
.score-result-green {
  color: white;
  background-color: green;
}
.score-result-red {
  color: white;
  background-color: red;
}
.score-result-yellow {
  color: black;
  background-color: yellow;
}