<div class="jumbotron"></div>
<div class="container" ng-init="init()">
<div class="row">
	<div class="col-md-12">
		<div class="well hidden-xs" align="right">
			<a href="#/task/view/submit/me" class="btn btn-success btn-sm">
				<i class="fa fa-user"></i>
				ผลการตรวจของฉัน
			</a>
			<span class="glyphicon glyphicon-option-vertical"></span>
			<a href="#/task/view/submit/all" class="btn btn-primary btn-sm">
				<i class="fa fa-users"></i>
				ผลการตรวจทั้งหมด
			</a>
			<!-- <span class="glyphicon glyphicon-option-vertical"></span>
			<button data-toggle="modal" data-target="#myModal" class="btn btn-info btn-sm">
				<i class="fa fa-info"></i>
				การใช้งาน
			</button> -->
		</div>
		<!-- responsive mobile -->
		<div class="well visible-xs" align="right">
			<a href="#/task/view/submit/me" class="btn btn-success btn-sm">
				<i class="fa fa-user"></i>
			</a>
			<span class="glyphicon glyphicon-option-vertical"></span>
			<a href="#/task/view/submit/all" class="btn btn-primary btn-sm">
				<i class="fa fa-users"></i>
			</a>
			<span class="glyphicon glyphicon-option-vertical"></span>
			<a href="#/task" class="btn btn-info btn-sm">
				<i class="fa fa-info"></i>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div id="accordion">
		  	<h3>โจทย์ง่าย</h3>
		  	<div>
		  		<div class="col-md-12" align="center" ng-show="tasks.easy.tasks.length == 0">
		  			<h3>ไม่พบข้อมูล...</h3>
		  		</div>
				<table class="table table-bordered" ng-show="tasks.easy.tasks.length != 0">
					<thead style="font-size: 18px;" class="bg-primary">
						<th width="50px" height="40px"></th>
						<th style="text-align: center" width="70px">#</th>
						<th style="text-align: center">โจทย์</th>
						<th style="text-align: center" width="100px">ส่ง</th>
						<th style="text-align: center" width="100px">ผ่าน</th>
					</thead>
					<tbody>
						<tr ng-repeat="task in tasks.easy.tasks">
							<td height="50px">
								<button ng-if="task.status == 'pass'" class="btn btn-success btn-sm">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
								<button ng-if="task.status == 'notpass'" class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</td>
							<td>{{ task.code }}</td>
							<td>
								<a ng-href="#/task/view/{{task.code}}">{{ task.title }}</a>
							</td>
							<td style="text-align: center">
								{{ task.sendtotal }}
							</td>
							<td style="text-align: center">
								{{ task.passtotal }}
							</td>
						</tr>
					</tbody>
				</table>
		  	</div>

		  	<h3>โจทย์ปานกลาง</h3>
		  	<div>
				<div class="col-md-12" align="center" ng-show="tasks.medium.tasks.length == 0">
		  			<h3>ไม่พบข้อมูล...</h3>
		  		</div>
				<table class="table table-bordered" ng-show="tasks.medium.tasks.length != 0">
					<thead style="font-size: 18px;" class="bg-primary">
						<th width="50px" height="40px"></th>
						<th style="text-align: center" width="70px">#</th>
						<th style="text-align: center">โจทย์</th>
						<th style="text-align: center" width="100px">ส่ง</th>
						<th style="text-align: center" width="100px">ผ่าน</th>
					</thead>
					<tbody>
						<tr ng-repeat="task in tasks.medium.tasks">
							<td height="50px">
								<button ng-if="task.status == 'pass'" class="btn btn-success btn-sm">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
								<button ng-if="task.status == 'notpass'" class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</td>
							<td>{{ task.code }}</td>
							<td>
								<a ng-href="#/task/view/{{task.code}}">{{ task.title }}</a>
							</td>
							<td style="text-align: center">
								{{ task.sendtotal }}
							</td>
							<td style="text-align: center">
								{{ task.passtotal }}
							</td>
						</tr>
					</tbody>
				</table>
		  	</div>
		  	
		  	<h3>โจทย์ยาก</h3>
		  	<div>
				<div class="col-md-12" align="center" ng-show="tasks.hard.tasks.length == 0">
		  			<h3>ไม่พบข้อมูล...</h3>
		  		</div>
				<table class="table table-bordered" ng-show="tasks.hard.tasks.length != 0">
					<thead style="font-size: 18px;" class="bg-primary">
						<th width="50px" height="40px"></th>
						<th style="text-align: center" width="70px">#</th>
						<th style="text-align: center">โจทย์</th>
						<th style="text-align: center" width="100px">ส่ง</th>
						<th style="text-align: center" width="100px">ผ่าน</th>
					</thead>
					<tbody>
						<tr ng-repeat="task in tasks.hard.tasks">
							<td height="50px">
								<button ng-if="task.status == 'pass'" class="btn btn-success btn-sm">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
								<button ng-if="task.status == 'notpass'" class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</td>
							<td>{{ task.code }}</td>
							<td>
								<a ng-href="#/task/view/{{task.code}}">{{ task.title }}</a>
							</td>
							<td style="text-align: center">
								{{ task.sendtotal }}
							</td>
							<td style="text-align: center">
								{{ task.passtotal }}
							</td>
						</tr>
					</tbody>
				</table>
		  	</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal">
  	<div class="modal-dialog modal-lg">
    	<div ng-controller="LoginController" class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title"><b>วิธีการใช้งาน</b></h4>
      		</div>
     		
	     	<div class="modal-body">
			  	<!-- 4:3 aspect ratio -->
				<!-- <div class="embed-responsive embed-responsive-4by3">
				  	<iframe class="embed-responsive-item" 
				  		src="https://www.youtube.com/watch?v=vyT-oGDnMqE">
				  	</iframe>
				</div> -->
      		</div>
	      	<div class="modal-footer">
	      		<div align="right">
	      			<button class="btn btn-default btn-sm" data-dismiss="modal">ปิด</button>
	      		</div>
	      	</div>
    	</div>
  	</div>
</div>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>