<div class="well"></div><br />
<div class="container" ng-init="initEditor()">
	<div>
		<div class="row">
			<div class="col-md-12">
				<div class="input-group" style="background:#2A2929; padding: 10px; color: #63de00!important;">
					<span class="input-group-addon hidden-xs">
						<strong>{{ submit.code }}</strong>
					</span>

					<span class="input-group-addon hidden-xs">
						<select ng-model="submit.lang" ng-change="changeLang()" 
							style="color: black; height: 25px;">
						  	<option value="c_cpp">C / C++</option>
						  	<option value="java">JAVA</option>
						  	<option value="golang">GOLANG</option>
						</select>
					</span>

      				<input 
      					ng-model="submit.input" 
      					type="text" 
      					class="form-control" 
      					placeholder="ใส่ Input ที่นี่ เช่น 1 2 3 4 5"
      				>

      				<span class="input-group-addon btn btn-default btn-file hidden-xs">
					    <span class="glyphicon glyphicon-file"></span> 
					    อัพไฟล์ 
					    <input 
					    	type="file" 
					    	id="file-input" 
					    	accept=".c,.java,.go" 
					    	onchange="readSingleFile()"
					    >
					</span>

      				<div 
      					ng-click="taskRun()" 
      					id="btn-run" 
      					class="input-group-addon btn"
      				>
      					<span class="glyphicon glyphicon-console"></span> รันโปรแกรม
      				</div>

      				<div 
      					ng-click="taskSubmit()" 
      					id="btn-run" 
      					class="input-group-addon btn btn-primary" 
      					style="background-color: green; color: white; font-weight: bold;"
      				>
      					<span class="glyphicon glyphicon-ok-sign"></span> ส่งตรวจ
      				</div>
    			</div>
			</div>
			<div class="col-md-12">
				<div id="editor"></div>
			</div>
			<div class="col-md-12">
				<div id="output">
					<pre ng-bind-html="HTML"></pre>
					<div class="cursor"></div>	
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Delete Confirm Dialog -->
<div id="dialog-confirm" title="คุณต้องการที่จะลบโจทย์นี้หรือไม่?"></div>

<!-- JqueryUI Theme CSS -->
<link rel="stylesheet" type="text/css" 
	href="bower_components/jquery-ui/themes/black-tie/jquery-ui.min.css">
	
<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>