<div class="well"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12" ng-init="showTable()">
			<h2 align="center">ผลการตรวจ{{ title }}</h2>
			<div class="well table-responsive">
				<a onclick="window.history.back()" class="btn btn-primary btn-sm">
					<span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ
				</a><hr />
				<table id="tasksubmit_table" class="table table-striped" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>เวลาส่ง</th>
							<th>ชื่อสมาชิก</th>
							<th>โจทย์</th>
							<th>ภาษา</th>
							<th>ผลการตรวจ</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>