<div class="well"></div><br />
<meta property="og:title" content="test" />
<div class="container" ng-init="taskView()">
	<div class="row">
		<div class="col-md-12 well">
			<div class="row">
				<div class="col-md-6 hidden-xs">
					<a onclick="window.history.back()" class="btn btn-default btn-sm" ng-show="showMenu">
						<span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ
					</a>
				</div>

				<div class="col-md-6 col-xs-12">
					<div class="hidden-xs" align="right">
						<a class="btn btn-primary btn-sm" ng-click="fbShare()" ng-show="showMenu">
							<i class="fa fa-facebook-official"></i> แชร์โจทย์นี้
						</a>
						<a href="#/task/view/submit/mecode&code={{Code}}" class="btn btn-success btn-sm" ng-show="showMenu">
							<i class="fa fa-user"></i>
							ผลการตรวจของฉัน
						</a>
						<a href="#/task/view/submit/code&code={{Code}}" class="btn btn-info btn-sm" ng-show="showMenu">
							<i class="fa fa-users"></i>
							ผลการตรวจทั้งหมด
						</a>
						<span class="glyphicon glyphicon-option-vertical" ng-show="showMenu"></span>
						<a href="#/task/submit/{{task.code}}" target="_blank" 
							class="btn btn-primary btn-sm" ng-show="showMenu">
							<strong>
								<i class="fa fa-asterisk"></i> ส่งตรวจ
							</strong>
						</a>
						<a href="#/task/submit/{{task.code}}?mode=MATCH&matchid={{params.matchid}}" target="_blank" 
							class="btn btn-primary btn-sm" ng-show="!showMenu">
							<strong>
								<i class="fa fa-asterisk"></i> ส่งตรวจ
							</strong>
						</a>
					</div>
					<!-- responsive mobile -->
					<div class="visible-xs" align="center">
						<a onclick="window.history.back()" class="btn btn-default btn-sm pull-left">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="btn btn-primary btn-sm" ng-click="fbShare()">
							<i class="fa fa-facebook-official"></i>
						</a>
						<a href="#/task/view/submit/mecode&code={{Code}}" class="btn btn-success btn-sm">
							<i class="fa fa-user"></i>
						</a>
						<a href="#/task/view/submit/code&code={{Code}}" class="btn btn-info btn-sm">
							<i class="fa fa-users"></i>
						</a>
						<span class="glyphicon glyphicon-option-vertical"></span>
						<a ng-href="#/task/submit/{{task.code}}" target="_blank" 
							class="btn btn-primary btn-sm">
								<i class="fa fa-asterisk"></i> 
						</a><hr />
					</div>
				</div>

				<div class="col-md-12">
					<div align="center">
						<h3>{{ task.code }} : {{ task.title }}</h3>
					</div>
				</div>
				<div style="font-size: 16px;" class="col-md-12">
					<p ng-bind-html="task.content" style="padding: 15px;"></p><hr>
					<p>
						<strong>ความช่วยเหลือ</strong>
					</p>
					<p ng-bind-html="task.help" style="padding: 15px;"></p>
				</div>
			</div>
	
		</div>
	</div>
</div>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>