<div class="jumbotron"></div>
<div class="container" ng-init="initMatch()">
	<!-- display match -->
	<div ng-show="status=='RUN'">
		<div class="panel panel-default">
	  		<div class="panel-heading">
	  			<div class="row">
	  				<!-- show teamname -->
	  				<div class="col-md-6 hidden-xs">
						<h3>
							<!-- <span class="glyphicon glyphicon-menu-left"></span> -->
							TEAM : {{ TEAM.teamname }}
							<!-- <span class="glyphicon glyphicon-menu-right"></span> -->
							<small>
								ทั้งหมด <span class="badge">{{ taskTotal }}</span> ข้อ | 
								ผ่าน <span class="badge">{{ taskPass }}</span> ข้อ
							</small>
						</h3>
					</div>
					<!-- show countdown -->
					<div class="col-md-6 col-xs-12" align="right">
						<h3>	
							<small>เวลาที่เหลือ</small> 
							{{ mytimes.h }}:{{ mytimes.m }}:{{ mytimes.s }}
							<small>ชั่วโมง</small>
							</span>
						</h3>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="panel-body">
	  			<div class="row">
	  				<div class="col-md-12" align="right">
						<!-- Notification Show -->
						<div class="btn-group">
							<a class="btn btn-info btn-sm" ng-click="NOTI=false" 
								ng-show="NOTI">
								<span class="fa fa-bell"></span>
							</a>
							<a class="btn btn-info btn-sm" ng-click="NOTI=true" 
								ng-show="!NOTI">
								<span class="fa fa-bell-slash"></span>
							</a>
						  	<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
						    	การแจ้งเตือน 
						    	<span class="label label-danger" ng-if="notificationCount != 0">{{ notificationCount }}</span>
						    	<span class="caret" ng-show="notificationCount > 0"></span>
						  	</button>
						  	<ul class="dropdown-menu" role="menu" ng-show="notificationCount>0">
						    	<li ng-repeat="noti in notificationDatas">
						    		<a ng-click="showMessageDetail($index)" style="cursor: pointer;">
						    			{{ noti.Title }}
						    		</a>
						    	</li>
						  	</ul>
						</div>
	  				</div>
	  			</div><br />

				<!-- show task for match -->
				<div class="row">
				  	<div class="col-md-4" ng-repeat="task in tasks">
				    	<div class="alert alert-default">
				      		<a ng-href="#/task/submit/{{task.code}}?mode=MATCH&matchid={{matchid}}" 
				      			target="_blank" class="thumbnail">
				      			<h1 style="font-size: 80pt; text-align: center;">
				      				{{ chs[$index] }}
				      			</h1>
						        <p align="center">
						        	<span ng-show="taskresult[task.code].length==0" 
						        		class="glyphicon glyphicon-minus" 
						        		style="font-size: 20pt; color: white;"></span>
						        	<span ng-if="taskresult[task.code].length!=0" 
						        		ng-repeat="rs in taskresult[task.code] track by $index">
					      				<span ng-show="rs==0" 
					      					class="glyphicon glyphicon-remove-circle" 
					      					style="font-size: 20pt; color: red;"></span>
					      				<span ng-show="rs!=0" 
					      					class="glyphicon glyphicon-ok-circle" 
					      					style="font-size: 20pt; color: green;"></span>
					      			</span>
						        </p>
				      		</a>
				      		<div class="caption" align="center">
					        	<font size="5">
					        		<a ng-href="#/task/view/{{task.code}}?mode=MATCH&matchid={{matchid}}" 
					        			target="_blank">
					        			{{ task.title }}
					        		</a>
					        	</font>
				      		</div>
				    	</div>
				  	</div>
				</div>
	  		</div>
		</div>
	</div>
	
	<!-- display wait... -->
	<div ng-show="status=='IDLE' || status=='END'">
		<div class="jumbotron" align="center">
			<span class="glyphicon glyphicon-hourglass glyphicon-refresh-animate" style="font-size: 75px;"></span>
			<h1>กรุณารอ...</h1>
			<p>การแข่งขันกำลังจะเริ่มต้น</p>
		</div>
	</div> 
</div>

<!-- Modal Notification -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myModalLabel">{{ mynotifications.title }}</h4>
      		</div>
      	<div class="modal-body">
       		<div ng-bind-html="mynotifications.message"></div>
      	</div>
      	<!-- <div class="modal-footer"></div> -->
    	</div>
  	</div>
</div>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>