<div class="well"></div>
<div class="container" ng-init="init(); matchList()">

	<h2>
		<a onclick="window.history.back()" class="btn btn-default btn-sm pull-right">
			<span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ
		</a>
		<i class="fa fa-plus"></i> สร้างทีมแข่งขัน
	</h2>

	<!-- Match Title -->
	<div class="well">
		<h2>
			รายการ : {{ match.name }} <br />
			<small>สมัครได้ตั้งแต่ 
			{{ match.regstart | date:'d MMMM yyyy' }} 
			- 
			{{ match.regend | date:'d MMMM yyyy' }}
			</small> <br />
			<small>แข่งจริง {{ match.datematch | date:'d MMMM yyyy' }}</small> 
		</h2>
	</div>

	<!-- Team Data -->
	<div class="well" ng-show="myteam.status">
		<h3 class="text-success">
			<span class="fa fa-check"></span>
			คุณได้ทำการสมัครแข่งขันเรียบร้อย
		</h3><hr />
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<span style="font-size: 18pt; padding: 10px;">
					<span class="glyphicon glyphicon-user"></span> {{ myteam.data.teamname }}
				</span>		
			</div>
	
			<table class="table">
				<thead>
					<tr class="active">
						<th width="50px">#</th>
						<th>ชื่อผู้ใช้งาน</th>
						<th>ชื่อ - นามสกุล</th>
						<th>อีเมลล์</th>
						<th>เบอร์โทร</th>
						<th width="150px">ตำแหน่ง</th>
						<th width="100px">สถานะ</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>{{ team.member1.username }}</td>
						<td>{{ team.member1.name }} {{ team.member1.lastname }}</td>
						<td>{{ team.member1.email }}</td>
						<td>{{ team.member1.tel || '-' }}</td>
						<td>หัวหน้าทีม</td>
						<td align="center">
							<a class="btn btn-success btn-xs" title="ผู้ใช้งานยังยอมรับเรียบร้อย">
								<i class="fa fa-check"></i>
							</a>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>{{ team.member2.username || '-' }}</td>
						<td>{{ team.member2.name || '-' }} {{ team.member2.lastname }}</td>
						<td>{{ team.member2.email || '-' }}</td>
						<td>{{ team.member2.tel || '-' }}</td>
						<td>สมาชิก</td>
						<td ng-show="myteam.data.member2status" align="center">
							<a class="btn btn-success btn-xs" title="ผู้ใช้งานยังยอมรับเรียบร้อย">
								<i class="fa fa-check"></i>
							</a>
						</td>
						<td ng-hide="myteam.data.member2status" align="center">
							<a class="btn btn-danger btn-xs" 
								title="ผู้ใช้งานยังไม่ยอมรับ"
								ng-hide="myteam.data.member2 == user.username">
								<i class="fa fa-question"></i>
							</a>
							<a class="btn btn-success btn-xs" 
								ng-click="acceptTeam('one')"
								ng-show="myteam.data.member2 == user.username">
								<i class="fa fa-check"></i> ยอมรับ
							</a>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>{{ team.member3.username || '-' }}</td>
						<td>{{ team.member3.name || '-' }} {{ team.member3.lastname }}</td>
						<td>{{ team.member3.email || '-' }}</td>
						<td>{{ team.member3.tel || '-' }}</td>
						<td>สมาชิก</td>
						<td ng-show="myteam.data.member3status" align="center">
							<a class="btn btn-success btn-xs" title="ผู้ใช้งานยังยอมรับเรียบร้อย">
								<i class="fa fa-check"></i>
							</a>
						</td>
						<td ng-hide="myteam.data.member3status" align="center">
							<a class="btn btn-danger btn-xs" 
								title="ผู้ใช้งานยังไม่ยอมรับ"
								ng-hide="myteam.data.member3 == user.username">
								<i class="fa fa-question"></i>
							</a>
							<a class="btn btn-success btn-xs" 
								ng-click="acceptTeam('two')"
								ng-show="myteam.data.member3 == user.username">
								<i class="fa fa-check"></i> ยอมรับ
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Form Registration Match -->
	<div class="well" ng-hide="myteam.status">
		<div class="form-horizontal">
			<div class="form-group">
			 	<label for="teamname" class="col-sm-3 control-label">ชื่อทีม</label>
			 	<div class="col-sm-5">
			   		<input ng-model="teamname" type="text" class="form-control" id="teamname" placeholder="ชื่อทีม" required>
			 	</div>
			 	<a ng-click="save()" class="btn btn-primary">
			 		<i class="fa fa-plus"></i> สร้างทีม
			 	</a>
			</div>
		</div>
		<hr />
		<table class="table">
			<thead>
				<tr class="bg-success">
					<th width="50px">#</th>
					<th>ชื่อผู้ใช้งาน</th>
					<th>ชื่อ - นามสกุล</th>
					<th>อีเมลล์</th>
					<th>เบอร์โทร</th>
					<th width="150px">ตำแหน่ง</th>
					<th width="50px"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="active">
					<td>1</td>
					<td>{{ team.member1.username }}</td>
					<td>{{ team.member1.name }} {{ team.member1.lastname }}</td>
					<td>{{ team.member1.email }}</td>
					<td>{{ team.member1.tel || '-' }}</td>
					<td colspan="2">หัวหน้าทีม</td>
				</tr>
				<tr>
					<td>2</td>
					<td>{{ team.member2.username || '-' }}</td>
					<td>{{ team.member2.name || '-' }} {{ team.member2.lastname }}</td>
					<td>{{ team.member2.email || '-' }}</td>
					<td>{{ team.member2.tel || '-' }}</td>
					<td>สมาชิก</td>
					<td>
						<a class="btn btn-primary btn-xs" ng-click="selectMember(1)">
							<i class="fa fa-search"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>{{ team.member3.username || '-' }}</td>
					<td>{{ team.member3.name || '-' }} {{ team.member3.lastname }}</td>
					<td>{{ team.member3.email || '-' }}</td>
					<td>{{ team.member3.tel || '-' }}</td>
					<td>สมาชิก</td>
					<td>
						<a class="btn btn-primary btn-xs" ng-click="selectMember(2)">
							<i class="fa fa-search"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- Show Match Details -->
	<div class="well">
		<h3>กำหนดการ</h3><hr />
		<span ng-bind-html="match.details"></span>
	</div>
</div>

<!-- Modal Select Team Member -->
<div class="modal fade" id="selectMemberModal">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">
        			<b>
						<i class="fa fa-user"></i>
        				ค้นหาสมาชิกในทีม
        			</b>
        		</h4>
      		</div>
     		
	     	<div class="modal-body" align="center">
				<input 
					type="text" 
					class="typeahead form-control" 
					id="username" 
					placeholder="ค้นด้วยชื่อผู้ใช้งาน">
      		</div>
	      	<div class="modal-footer">
	      		<div align="right">
	      			<button class="btn btn-default btn-xs" data-dismiss="modal">ปิด</button>
	      		</div>
	      	</div>
    	</div>
  	</div>
</div>

<!-- Custom Style -->
<style type="text/css">
	th {
		text-align: center;
	}
	tr > td:first-child {
		text-align: center;
	}
	tbody > tr:first-child {
		font-weight: bold;
		height: 45px;
	}
</style>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>