<div class="well"></div>
<div class="container" ng-init="MatchPublic()">
	
	<h1>รายการแข่งขัน</h1>

	<!-- Match Title -->
	<div class="well" ng-repeat="m in match_public">
		<h2>
			<a ng-href="#/team/reg/{{m.matchid}}" class="btn btn-success btn-smก pull-right">
				<i class="fa fa-plus"></i> สร้างทีม
			</a>
			{{ m.name }} <br />
			<small>สมัครได้ตั้งแต่ 
			{{ m.regstart | date:'d MMMM yyyy' }} 
			- 
			{{ m.regend | date:'d MMMM yyyy' }}
			</small> <br />
			<small>แข่งจริง {{ m.datematch | date:'d MMMM yyyy' }}</small> 
			<a class="btn btn-info btn-sm" ng-click="showDetails($index)">
				<i class="fa fa-calendar"></i> กำหนดการ
			</a>
		</h2>
	</div>
</div>

<!-- Modal Show Match Details -->
<div class="modal fade" id="myModal">
  	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">
        			<b>
						<i class="fa fa-calendar"></i>
        				กำหนดการของการแข่งขัน
        			</b>
        		</h4>
      		</div>
     		
	     	<div class="modal-body">
				<span ng-bind-html="showDetailsData"></span>
      		</div>
	      	<div class="modal-footer">
	      		<div align="right">
	      			<button class="btn btn-default btn-sm" data-dismiss="modal">ปิด</button>
	      		</div>
	      	</div>
    	</div>
  	</div>
</div>


<!-- Custom Style -->
<style type="text/css">
	th {
		text-align: center;
	}
	tr > td:first-child {
		text-align: center;
	}
	tbody > tr:first-child {
		font-weight: bold;
		height: 45px;
	}
</style>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>