<div class="well"></div>
<div class="container">
	<h1>
		<i class="fa fa-unlock"></i> 
		ล็อกอิน
	</h1>	
	<div class="well">
		<form ng-controller="LoginController" ng-init="initLoginTeam()" ng-submit="LoginTeam()">
			<div class="row">
				<div class="col-md-4" align="right">
					<label for="us">รายการแข่งขัน</label>
				</div>
				<div class="col-md-4">
					<select class="form-control" 
						ng-options="t.id as t.name for t in matchLoginData.match" 
						ng-model="login.match"
						ng-change="getTeam()">
					</select>
				</div>
			</div><br />

			<div class="row">
				<div class="col-md-4" align="right">
					<label for="us">ชื่อทีม</label>
				</div>
				<div class="col-md-4">
					<select class="form-control" 
						ng-options="t.id as t.name for t in matchLoginData.team" ng-model="login.team">
					</select>
				</div>
			</div><br />

			<div class="row">
				<div class="col-md-4" align="right">
					<label for="pw">รหัสผ่าน</label>
				</div>
				<div class="col-md-4">
					<input 
						ng-model="login.password" 
						id="pw" 
						type="password" 
						class="form-control" 
						placeholder="password" 
					required>	
				</div>
			</div><br />

			<div class="row" align="center">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
					<button type="reset" class="btn btn-default">ยกเลิก</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>