<div class="jumbotron"></div>
<div class="container">
	<div class="col-md-12 well" ng-init="listTeam()">
		<div class="row">
			<div class="col-md-12">
				<div align="right">
					<a href="javascript:void(0)" ng-click="generatePassword()" 
						class="btn btn-primary btn-sm">	
						<i class="fa fa-random"></i>&nbsp;
						สร้างรหัสผ่านใหม่
					</a><hr />
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead class="bg-primary">
							<th width="50px;">#</th>
							<th>ชื่อทีม</th>
							<th>สมาชิก</th>
							<th width="200px">วันที่สมัคร</th>
							<th width="200px">รหัสผ่าน</th>
						</thead>
						<tbody>
							<tr ng-show="datas.length == 0">
								<td colspan="5" align="center">
									<h3>ไม่พบข้อมูล...</h3>
								</td>
							</tr>
							<tr ng-repeat="d in datas" style="background-color: gray;">
								<td>{{ $index + 1 }}</td>
								<td>{{ d.teamname }}</td>
								<td>
									<a href="#/profile/public/{{d.member1}}" target="_blank" 
										class="btn btn-primary btn-xs">
										{{ d.member1 }}
									</a> <span class="glyphicon glyphicon-option-vertical"></span>
									<a href="#/profile/public/{{d.member2}}" target="_blank"
										class="btn btn-default btn-xs">
										{{ d.member2 }}
									</a> <span class="glyphicon glyphicon-option-vertical"></span>
									<a href="#/profile/public/{{d.member3}}" target="_blank"
										class="btn btn-default btn-xs">
										{{ d.member3 }}
									</a>
								</td>
								<td>{{ d.date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
								<td>{{ d.password }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	th {
		text-align: center;
	}
</style>