<div class="well"></div>
<div class="container" ng-init="init()">	
	<div class="well">
		<!-- time countdown & button top -->
		<div class="row">
			<div class="col-md-8">
				<a onclick="window.history.back()" class="btn btn-default btn-sm pull-left">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>

				<div align="center">
					<span style="font-size: 22pt;" ng-show="status == 'IDLE'">
					  	เริ่มแข่งขันในอีก {{ mytimes.h }}:{{ mytimes.m }}:{{ mytimes.s }} ชั่วโมง
					</span>
					<span style="font-size: 22pt;" ng-show="status == 'RUN'">
					  	เวลาแข่งขัน {{ mytimes.h }}:{{ mytimes.m }}:{{ mytimes.s }} ชั่วโมง
					</span>
					<span style="font-size: 22pt;" ng-show="status == 'END'">
					  	การแข่งขันสิ้นสุด
					</span>
				</div>
			</div>
			<div class="col-md-4 form-inline" align="right">
				<a href="#/match/scoreboard?matchid={{params.MatchId}}" target="_blank" class="btn btn-success btn-sm">
					<i class="glyphicon glyphicon-stats"></i>
					ตารางคะแนน
				</a>
				<a onclick="js:$('#settings_match').toggleClass('hide')" class="btn btn-warning btn-sm">
					<i class="glyphicon glyphicon-cog"></i>
					ตั้งค่า
				</a>
			</div>
		</div>
	</div>
	
	<!-- Setting Match -->
	<div class="well hide" id="settings_match">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div>
					<div class="form-group" align="right">
						<div class="checkbox checkbox-success">
		                    <input id="public" type="checkbox" ng-model="matchsettings.public">
		                    <label for="public">เปิดการเผยแพร่</label>
		                </div>
					</div>
					<div class="form-group">
					  	<label>ชื่อแมทซ์</label>
						<input 
							type="text" 
							class="form-control input-sm" 
							id="name" 
							ng-model="matchsettings.name"
						>
					</div>
					<div class="form-group">
				    	<label for="title">รับสมัคร</label>
				    	<div class="row">
				    		<div class="col-md-6">
				    			<input 
				    				ng-model="matchsettings.regstart" 
				    				type="date" 
				    				class="form-control input-sm" 
				    				id="regstart"
				    			>
				    		</div>
				    		<div class="col-md-6">
				    			<input 
				    				ng-model="matchsettings.regend" 
				    				type="date" 
				    				class="form-control input-sm" 
				    				id="regend"
				    			>
				    		</div>
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="title">แข่งขันจริง</label>
				    	<input 
				    		ng-model="matchsettings.datematch" 
				    		type="date" 
				    		class="form-control input-sm" 
				    		id="datematch"
				    	>
				  	</div>
					<div class="form-group">
					  	<label>เวลาเริ่มแข่งขัน (น.)</label>
						<input 
							type="time" 
							class="form-control input-sm" 
							id="hours" 
							ng-model="matchsettings.timestart"
						>
					</div>
					<div class="form-group">
					  	<label>ระยะเวลา (ชม.)</label>
						<input 
							type="number" 
							min="1" 
							class="form-control input-sm" 
							id="hours" 
							ng-model="matchsettings.timehours"
						>
						<p class="help-block">
							หมดเวลา 
							{{ moment(matchsettings.timestart).add(matchsettings.timehours, 'hours').format('HH:mm') }} น.
						</p>
					</div>
					<div class="form-group">
					  	<label>ส่งไม่ผ่านบวกเพิ่ม (นาที)</label>
						<input 
							type="number" 
							class="form-control input-sm" 
							id="failsubmit" 
							ng-model="matchsettings.failsubmit"
						>
					</div>
					<div class="form-group">
						<label>กำหนดการ</label>
						<textarea 
							ng-model="matchsettings.details" 
							class="form-control" 
							id="details"
						></textarea>
					</div>
					<div align="center">
						<a ng-click="MatchSetup()" class="btn btn-primary btn-sm">
							<span class="fa fa-cog"></span> บันทึกการตั้งค่า
						</a>
						<a ng-click="MatchReset()" class="btn btn-default btn-sm">
							ยกเลิก
						</a>
					</div>
				</div>	
			</div>
		</div>
	</div>

	<!-- Task Match -->
	<div class="well">
		<h3>
			โจทย์แข่งขัน
			<!-- btn create new task -->
			<a href="#/admin/manage/task/create/match/{{ params.MatchId }}" 
				class="btn btn-primary btn-sm pull-right">
				<i class="fa fa-plus"></i> เพิ่มโจทย์ใหม่
			</a>
		</h3><hr />

		<div ng-show="matchsettings.task.length == 0" align="center" style="padding: 15px;">
			<h3>ไม่พบโจทย์สำหรับการแข่งขัน</h3>
		</div>

		<div class="table-responsive">
			<table class="table table-striped" ng-hide="matchsettings.task.length == 0" >
				<thead style="font-size: 18px;" class="bg-primary">
					<th width="50px" style="text-align:center;">#</th>
					<th style="text-align: center">โจทย์ปัญหา</th>
					<th width="100px">ส่ง</th>
					<th width="100px">ผ่าน</th>
				</thead>
				<tbody>
					<tr ng-repeat="task in matchsettings.task | orderBy:'code'">
						<td style="text-align:center;">{{ task.code }}</td>
						<td>
							<a ng-href="#/task/view/{{task.code}}?mode=MATCH&matchid={{matchsettings.matchid}}" target="_blank">
								{{ task.title }}
							</a>
						</td>
						<td>
							<a ng-click="matchViewSubmit(task.code, 'send', task.title)" 
								style="cursor: pointer;" ng-show="task.sendtotal != 0">
								{{ task.sendtotal }}
							</a>
							<span ng-show="task.sendtotal == 0">
								{{ task.sendtotal }}
							</span>
						</td>
						<td>
							<a ng-click="matchViewSubmit(task.code, 'pass', task.title)" 
								style="cursor: pointer;" ng-show="task.passtotal != 0">
								{{ task.passtotal }}
							</a>
							<span ng-show="task.passtotal == 0">
								{{ task.passtotal }}
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Team Match -->
	<div class="well">
		<h3>
			ทีมที่สมัครแข่งขัน
			<a ng-click="generatePassword()" class="btn btn-primary btn-sm pull-right">	
				<i class="fa fa-random"></i>&nbsp;
				สร้างรหัสผ่านใหม่
			</a>
		</h3><hr />

		<div ng-show="matchsettings.team == null || matchsettings.team.length == 0" align="center" style="padding: 15px;">
			<h3>ไม่พบทีมสมัครเข้าร่วมแข่งขัน</h3>
		</div>

		<div class="table-responsive">
			<table class="table table-striped" ng-hide="matchsettings.team == null || matchsettings.team.length == 0" >
				<thead style="font-size: 18px;" class="bg-primary">
					<th width="50px" style="text-align:center;">#</th>
					<th style="text-align: center">ชื่อทีม</th>
					<th width="150px">หัวหน้าทีม</th>
					<th width="150px">สมาชิก</th>
					<th width="150px">สมาชิก</th>
					<th width="150px">วันที่สมัคร</th>
					<th width="150px">รหัสผ่าน</th>
				</thead>
				<tbody>
					<tr ng-repeat="team in matchsettings.team">
						<td style="text-align:center;">{{ $index + 1 }}</td>
						<td>
							{{ team.teamname }}
						</td>
						<td>
							<a ng-href="#/profile/public/{{team.member1}}" target="_blank">
								{{ team.member1 }}
							</a>
						</td>
						<td>
							<!-- <i class="fa fa-check" ng-show="member2status"></i>
							<i class="fa fa-question" ng-hide="member2status"></i> -->
							<a ng-href="#/profile/public/{{team.member2}}" target="_blank">
								{{ team.member2 }}
							</a>
						</td>
						<td>
							<!-- <i class="fa fa-check" ng-show="member2status"></i>
							<i class="fa fa-question" ng-hide="member2status"></i> -->
							<a ng-href="#/profile/public/{{team.member3}}" target="_blank">
								{{ team.member3 }}
							</a>
						</td>
						<td>
							{{ team.date | date:'dd/MM/yy HH:mm:ss' }}
						</td>
						<td>
							{{ team.password }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Notification Match -->
	<div class="well">
		<h3>
			ประกาศแจ้งเตือน
			<a onclick="js:$('#myModal').modal('show')" class="btn btn-primary btn-sm pull-right">
				<span class="glyphicon glyphicon-bullhorn"></span> ประกาศ
			</a>
		</h3><hr />

		<div ng-show="notificationDatas.length == 0" align="center" style="padding: 15px;">
			<h3>ยังไม่มีประกาศแจ้งเตือน</h3>
		</div>

		<div class="table-responsive">
			<table class="table table-striped" ng-hide="notificationDatas.length == 0" >
				<thead style="font-size: 18px;" class="bg-primary">
					<th width="50px" style="text-align:center;">#</th>
					<th style="text-align: center">เรื่อง</th>
					<th>รายละเอียด</th>
					<th width="200px">ประกาศเมื่อ</th>
				</thead>
				<tbody>
					<tr ng-repeat="noti in notificationDatas">
						<td style="text-align:center;">{{ $index + 1 }}</td>
						<td>
							{{ noti.Title }}
						</td>
						<td>
							<span ng-bind-html="noti.Message"></span>
						</td>
						<td>
							{{ noti.Date | date:'dd/MM/yy HH:mm:ss' }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Modal Notification -->
<div class="modal fade" id="view_modal">
  	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">
					{{ DATA.title }}
        		</h4>
      		</div>
	      	<div class="modal-body" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
	       		<!-- {{ DATA.content }} -->
	       		<table class="table table-bordered">
	       			<thead>
	       				<th width="50px">#</th>
	       				<th>ทีม</th>
	       				<th width="130px">กรณีทดสอบ</th>
	       				<th width="100px">สถานะ</th>
	       				<th width="100px">เวลา</th>
	       			</thead>
	       			<tbody>
	       				<tr ng-repeat="data in DATA.content | orderBy:'-Date'">
	       					<td>{{ $index+1 }}</td>
	       					<td>{{ data.UserName }}</td>
	       					<td>{{ data.Result }}</td>
	       					<td>
	       						<i class="fa fa-{{ data.Status == 'pass' ? 'check' : 'close' }}"></i>
	       						{{ data.Status == 'pass' ? 'ผ่าน' : 'ไม่ผ่าน' }}
	       					</td>
	       					<td>{{ data.Date | date:'HH:mm:ss' }}</td>
	       				</tr>
	       			</thead>
	       		</table>
	      	</div>
    	</div>
  	</div>
</div>

<!-- Modal Notification -->
<div class="modal fade" id="myModal" tabindex="-1" data-backdrop="static">
  	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myModalLabel">ประกาศโดย Admin</h4>
      		</div>
      	<div class="modal-body">
			<div class="form">
			  	<div class="form-group">
			    	<label for="title">หัวข้อ</label>
			    	<input ng-model="notification.title" type="text" class="form-control input-sm" id="title" placeholder="หัวข้อประกาศ">
			  	</div>
			  	<div class="form-group">
			    	<label for="message">ข้อความ</label>
			    	<textarea ng-model="notification.message" class="form-control" id="message"></textarea>
			  	</div>
			</div>
      	</div>
      	<div class="modal-footer">
      		<span ng-bind="errMsg" class="pull-left" style="color: red;"></span>
      		<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
        	<button type="button" class="btn btn-primary btn-sm" ng-click="MatchSendMessage()">ประกาศ</button>
    	</div>
  	</div>
</div>