<div class="jumbotron"></div>
<div class="container" ng-init="Member_List()">
	<div class="row">
		<div class="col-md-12">
			<!-- <div class="well"> -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6" style="font-size: 20px; margin-top: 3px;">
								<i class="fa fa-user"></i> ผู้ใช้งาน
							</div>
							<div class="col-xs-6" align="right">
								<a class="btn btn-success btn-sm" href="#/member/reg">
									<i class="fa fa-plus"></i> เพิ่มผู้ใช้งาน
								</a>
							</div>
						</div>
					</div>
	
					<div class="panel-body table-responsive">
						<table id="member_table" class="table table-striped" cellspacing="0" width="100%">
					        <thead>
					            <tr>
					            	<th></th>
					            	<th>ชื่อแฝง</th>
					                <th>ชื่อผู้ใช้</th>
					                <th>ชื่อ - นามกสุล</th>
					                <th>เพศ</th>
					                <!-- <th>อีเมลล์</th> -->
					                <th>วันที่สมัคร</th>
					                <th>ระดับ</th>
					                <th style="width: 100px"></th>
					            </tr>
					        </thead>
					    </table>
					</div>
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>

<!-- View Modal -->
<div class="form-horizontal">
	<div class="modal fade" id="myModal">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        			<span aria-hidden="true">&times;</span>
	        		</button>
	        		<h4 class="modal-title">
	        			<b>
		        			<i class="fa fa-eye"></i>
		        			แสดงข้อมูล
	        			</b>
	        		</h4>
	      		</div>
	     		
		     	<div class="modal-body" style="max-height: 400px; overflow-y: auto;">
					<div class="form-horizontal">
						<div class="form-group">
					       	<label class="col-md-4 text-right">ชื่อผู้ใช้งาน</label>
					        <div class="col-md-7">			                
						        <b>{{ userdetail.username }}</b>
					        </div>
					    </div>
					    <div class="form-group">
					       	<label class="col-md-4 text-right">รหัสผ่าน</label>
					        <div class="col-md-7">			                
						        <b>{{ userdetail.password }}</b>
					        </div>
					    </div>
					    <div class="form-group">
					       	<label class="col-md-4 text-right">ชื่อแสดงผล</label>
					        <div class="col-md-7">			                
						        <b>{{ userdetail.codename }}</b>
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-md-4 text-right">ชื่อ - นามสกุล</label>
					        <div class="col-md-7">			                
					            {{ userdetail.name}} {{ userdetail.lastname}}
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-md-4 text-right">เพศ</label>
					        <div class="col-md-7">	
					        	<select ng-show="update" ng-model="userdetail.sex" class="form-control">
					        		<option value="M">ชาย</option>
					        		<option value="F">หญิง</option>
					        	</select>		                
								<span ng-if="userdetail.sex=='M'">ชาย</span>
								<span ng-if="userdetail.sex=='F'">หญิง</span>
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-md-4 text-right">วันเกิด</label>
					        <div class="col-md-7">			                
					            {{ userdetail.birthday | date:'dd/MM/yyyy' }}
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-md-4 text-right">อีเมล์</label>
					        <div class="col-md-7">			                
					            {{ userdetail.email }}
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-md-4 text-right">เวบไซต์</label>
					        <div class="col-md-7">
					            {{ userdetail.website==""?'-':userdetail.website }}
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-md-4 text-right">จังหวัด</label>
					        <div class="col-md-7">
					            {{ userdetail.province }}
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-md-4 text-right">สถานภาพ</label>
					        <div class="col-md-7">
					            {{ reg_status[userdetail.status] }}
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-md-4 text-right">เป็นสมาชิกตั้งแต่</label>
					        <div class="col-md-7">
					            {{ userdetail.date | date:'dd/MM/yyyy HH:mm:ss' }}
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="col-md-4 text-right">FACEBOOK</label>
					        <div class="col-md-7">		           
					            <b>{{ userdetail.facebook==""?'-':userdetail.facebook }}</b>
					        </div>
					    </div>
					</div>
	      		</div>

		      	<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
			        	ปิด
			        </button>
		      	</div>
	    	</div>
	  	</div>
	</div>
</div>

<!-- Delete Confirm Dialog -->
<div id="dialog-confirm" title=""></div>

<!-- JqueryUI Theme CSS -->
<link rel="stylesheet" type="text/css" 
	href="bower_components/jquery-ui/themes/black-tie/jquery-ui.min.css">