<div class="well"></div>
<div class="container" ng-init="init()">
	<form name="frm_task" class="form-horizontal well" ng-submit="save()" novalidate>
		<h3 ng-if="!UPDATE">
			<a onclick="window.history.back()" class="btn btn-primary btn-sm pull-right">
				<span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ
			</a>
			<i class="fa fa-plus-square"></i> 
			สร้างโจทย์
		</h3>
		<h3 ng-if="UPDATE">
			<a onclick="window.history.back()" class="btn btn-primary btn-sm pull-right">
				<span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ
			</a>
			<i class="fa fa-pencil-square"></i> 
			แก้ไขโจทย์ [{{task.code}}]
		</h3><hr />
		<fieldset>
		    <div class="form-group">
		        <label for="code" class="col-lg-2 control-label">รหัสปัญหา</label>
		        <div class="col-lg-2">
		            <input type="text" ng-model="task.code" class="form-control" id="code" disabled>
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="title" class="col-lg-2 control-label">ชื่อปัญหา</label>
		        <div class="col-lg-6">
		            <input type="text" ng-model="task.title" class="form-control" id="title" placeholder="ชื่อปัญหา" name="title" required>
		        </div>
		    </div>
		    <!-- <div class="form-group">
		        <label class="col-lg-2 control-label">โหมด</label>
		        <div class="col-lg-10">
		            <div class="radio radio-primary radio-inline">
		                <input type="radio" ng-model="task.mode" name="mode" value="TRAIN">
		                <label>ฝึกซ้อม</label>
		            </div>
		            <div class="radio radio-primary radio-inline">
						<input type="radio" ng-model="task.mode" name="mode" value="MATCH">
		                <label>แข่งขัน</label>
		            </div>
		        </div>
		    </div> -->
		    <div class="form-group">
		    	<label class="col-lg-2 control-label">โหมด</label>
		        <div class="col-lg-10">
		            <p class="form-control-static">{{ task.mode }}</p>
		        </div>
		    </div>
		    <div class="form-group" ng-show="params.Mode != 'match'">
		        <label class="col-lg-2 control-label">ระดับปัญหา</label>
		        <div class="col-lg-10">
		            <div class="radio radio-primary">
		                <input 
		                	type="radio" 
		                	ng-click="getCode()" 
		                	ng-model="task.level" 
		                	name="level" 
		                	value="EASY" 
		                checked>
		                <label>ระดับง่าย</label>
		            </div>
		            <div class="radio radio-primary">
		                <input 
		                	type="radio" 
		                	ng-click="getCode()" 
		                	ng-model="task.level" 
		                	name="level" 
		                	value="MEDIUM"
		                >
		                <label>ระดับปานกลาง</label>
		            </div>
		            <div class="radio radio-primary">
		                <input 
		                	type="radio" 
		                	ng-click="getCode()"
		                	ng-model="task.level" 
		                	name="level" 
		                	value="HARD"
		                >
		                <label>ระดับยาก</label>
		            </div>
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="content" class="col-lg-2 control-label">รายละเอียด *</label>
		        <div class="col-lg-10">
		            <textarea ng-model="task.content" class="form-control" rows="15" id="content"></textarea>
		        </div>
		    </div>
		    <div class="form-group">
		       	<label for="help" class="col-lg-2 control-label">ความช่วยเหลือ</label>
		        <div class="col-lg-10">
		            <textarea ng-model="task.help" class="form-control" rows="3" id="help"></textarea>
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="inputFile" class="col-lg-2 control-label">ไฟล์ Input *</label>
		        <div class="col-lg-10">
		            <input type="file" id="inputFile" name="inputFile" required>
		            <textarea ng-if="UPDATE" id="f_input" ng-bind-html="input" rows="10" class="form-control"></textarea>
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="inputFile" class="col-lg-2 control-label">ไฟล์ Output *</label>
		        <div class="col-lg-10">
		            <input type="file" id="outputFile" name="outputFile" required>
		            <textarea ng-if="UPDATE" id="f_output" ng-bind-html="output" rows="10" class="form-control"></textarea>
		        </div>
		    </div>		        

		    <div class="form-group">
		        <div align="center">
		            <!-- <button type="reset" class="btn btn-default">ยกเลิก</button> -->
		            <button type="submit" class="btn btn-primary">บันทึก</button>
		            <a class="btn btn-success" ng-click="Task_preview()">แสดงตัวอย่าง</a>
		        </div>
		    </div>
		</fieldset>
	</form>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal">
  	<div class="modal-dialog" style="width: 80%;">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myModalLabel">{{ task.title || 'กรุณาใส่หัวข้อ' }}</h4>
      		</div>
	      	<div class="modal-body">
	       		<p ng-bind-html="task.content || '-'"></p>
	       		<hr>
	       		<p><strong>ช่วยเหลือ</strong></p>
	       		<p ng-bind-html="task.help || '-'"></p>
	      	</div>
    	</div>
  	</div>
</div>