<div class="jumbotron"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="well" ng-init="Task_List()">
				<h2>
					<i class="fa fa-gear"></i> จัดการโจทย์
					<a href="#/admin/manage/task/create/train?process=create" class="btn btn-info btn-sm pull-right">
						<i class="fa fa-plus-square"></i> สร้างโจทย์ใหม่
					</a>
				</h2>
				<hr />
				<div>
					<table id="tasksubmit_table" class="table table-striped table-hover" width="100%">
						<thead>
							<tr>
								<th width="25px">#</th>
								<th width="50px">รหัส</th>
								<th>โจทย์</th>
								<th width="50px">ส่ง</th>
								<th width="50px">ผ่าน</th>
								<th width="100px">สร้างโดย</th>
								<th width="150px">วันที่สร้าง</th>
								<th width="100px"></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Delete Confirm Dialog -->
<div id="dialog-confirm" title="คุณต้องการที่จะลบโจทย์นี้หรือไม่?"></div>

<!-- JqueryUI Theme CSS -->
<link rel="stylesheet" type="text/css" 
	href="bower_components/jquery-ui/themes/black-tie/jquery-ui.min.css">