<div class="well"></div>
<div class="container" ng-init="init()">
	<h1>
		<i class="fa fa-database"></i>
		จัดการคะแนน
	</h1><hr>
	<div class="row">
		<div class="col-md-6">
			<!-- panel set score -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-plus-circle"></i>
						การให้คะแนน
					</h4>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-offset-1 col-md-3 control-label" for="e">
								ระดับง่าย
							</label>
							<div class="col-md-5">
								<input type="text" ng-model="score.easy" class="form-control" id="e">
							</div>
							<p class="help-block">
								คะแนน
							</p>
						</div>
						<div class="form-group">
							<label class="col-md-offset-1 col-md-3 control-label" for="m">
								ระดับปานกลาง
							</label>
							<div class="col-md-5">
								<input type="text" ng-model="score.medium" class="form-control" id="m">
							</div>
							<p class="help-block">
								คะแนน
							</p>
						</div>
						<div class="form-group">
							<label class="col-md-offset-1 col-md-3 control-label" for="h">
								ระดับยาก
							</label>
							<div class="col-md-5">
								<input type="text"ng-model="score.hard" class="form-control" id="h">
							</div>
							<p class="help-block">
								คะแนน
							</p>
						</div>
						<div class="form-group">
							<label class="col-md-offset-1 col-md-3 control-label" for="min">
								คะแนนต่ำสุด
							</label>
							<div class="col-md-5">
								<input type="text"ng-model="score.min" class="form-control" id="min">
							</div>
							<p class="help-block">
								คะแนน
							</p>
						</div>
						<p class="help-block">
							<strong>* จะได้รับคะแนนเต็มเมื่อส่งผ่านในครั้งแรก</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<!-- panel minus score -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-minus-circle"></i>
						การหักคะแนน
					</h4>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-offset-1 col-md-3 control-label" for="ee">
								ระดับง่าย
							</label>
							<div class="col-md-3">
								<input type="text" ng-model="score.easyminus" class="form-control" id="ee">
							</div>
							<p class="help-block">
								คะแนน / ครั้ง
							</p>
						</div>
						<div class="form-group">
							<label class="col-md-offset-1 col-md-3 control-label" for="mm">
								ระดับปานกลาง
							</label>
							<div class="col-md-3">
								<input type="text" ng-model="score.mediumminus" class="form-control" id="mm">
							</div>
							<p class="help-block">
								คะแนน / ครั้ง
							</p>
						</div>
						<div class="form-group">
							<label class="col-md-offset-1 col-md-3 control-label" for="hh">
								ระดับยาก
							</label>
							<div class="col-md-3">
								<input type="text"ng-model="score.hardminus" class="form-control" id="hh">
							</div>
							<p class="help-block">
								คะแนน / ครั้ง
							</p>
						</div>
						<div class="form-group">
							<label class="col-md-offset-1 col-md-3 control-label" for="t">
								ส่งไม่ผ่านเกิน
							</label>
							<div class="col-md-3">
								<input type="text"ng-model="score.times" class="form-control" id="t">
							</div>
							<p class="help-block">
								ครั้ง จะได้รับคะแนนต่ำสุด
							</p>
						</div>
						<p class="help-block">
							<strong>* จะถูกหักคะแนนต่อครั้งเมื่อส่งไม่ผ่าน</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-line-chart"></i>
						คะแนนสะสม Level
					</h4>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-offset-1 col-md-3 control-label" for="scpl">
								คะแนนสะสม
							</label>
							<div class="col-md-2">
								<input type="text" ng-model="score.scoreperlevel" class="form-control" id="scpl">
							</div>
							<p class="help-block">
								คะแนน / Level
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="well" align="right">
				<a ng-click="Score_Update()" class="btn btn-success">
					<i class="fa fa-check-circle"></i>
					อัพเดตข้อมูล
				</a>
				<a ng-click="init()" class="btn btn-default">
					ยกเลิก
				</a>
			</div>
		</div>
	</div>
	
</div>