<div class="well"></div>
<div class="container" ng-init="initManageMatch()">	
	<div class="row">
		<div class="col-md-12" style="margin-top: 20px;">
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6 hidden-xs">
							<h4>
								<i class="glyphicon glyphicon-th-list"></i>
								&nbsp;รายการแมทซ์แข่งขัน
							</h4>
						</div>
						<div class="col-md-6 col-xs-12" align="right">
							<a class="btn btn-primary btn-sm" onclick="$('#myModal').modal('show')">
								<i class="fa fa-plus"></i>
								&nbsp;สร้างแมทซ์แข่งขัน
							</a>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead class="bg-primary">
							<th width="50px">#</th>
							<th>ชื่อแมทซ์</th>
							<th width="300px">วันที่รับสมัคร</th>
							<th width="150px">วันที่แข่งขันจริง</th>
							<th width="150px">สร้างเมื่อ</th>
							<th width="50px"></th>
						</thead>
						<tbody>
							<tr ng-if="matchs == null">
								<td colspan="6">
									<h3>ไม่พบแมทซ์แข่งขัน</h3>
								</td>
							</tr>
							<tr ng-repeat="m in matchs | orderBy:'-matchid'">
								<td>
									{{ m.matchid }}
								</td>
								<td>
									<a ng-href="#/admin/manage/match/{{ m.matchid }}" class="btn btn-info btn-xs">
										{{ m.name }}
									</a>
									<span class="label label-success" ng-show="m.public">เผยแพร่</span>
									<span class="label label-warning" ng-hide="m.public">ไม่เผยแพร่</span>
								</td>
								<td>
									{{ m.regstart | date:'d MMMM yyyy' }} 
									- 
									{{ m.regend | date:'d MMMM yyyy' }}
								</td>
								<td>
									{{ m.datematch | date:'d MMMM yyyy' }}
								</td>
								<td>
									{{ m.created | date:'dd/MM/yy HH:mm:ss' }}
								</td>
								<td align="center">
									<a class="btn btn-danger btn-xs" ng-click="MatchDelete(m.matchid)">
										<i class="fa fa-trash"></i> ลบ
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal match -->
<div class="modal fade" id="view_modal">
  	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">
					{{ DATA.title }}
        		</h4>
      		</div>
	      	<div class="modal-body" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
	       		<!-- {{ DATA.content }} -->
	       		<table class="table table-bordered">
	       			<thead>
	       				<th width="50px">#</th>
	       				<th>ทีม</th>
	       				<th width="130px">กรณีทดสอบ</th>
	       				<th width="100px">สถานะ</th>
	       				<th width="100px">เวลา</th>
	       			</thead>
	       			<tbody>
	       				<tr ng-repeat="data in DATA.content | orderBy:'-Date'">
	       					<td>{{ $index+1 }}</td>
	       					<td>{{ data.UserName }}</td>
	       					<td>{{ data.Result }}</td>
	       					<td>
	       						<i class="fa fa-{{ data.Status == 'pass' ? 'check' : 'close' }}"></i>
	       						{{ data.Status == 'pass' ? 'ผ่าน' : 'ไม่ผ่าน' }}
	       					</td>
	       					<td>{{ data.Date | date:'HH:mm:ss' }}</td>
	       				</tr>
	       			</thead>
	       		</table>
	      	</div>
    	</div>
  	</div>
</div>

<!-- Modal match -->
<div class="modal fade" id="myModal" tabindex="-1" data-backdrop="static">
  	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myModalLabel">แมทซ์แข่งขัน</h4>
      		</div>
      	<div class="modal-body" style="max-height: 420px; overflow-y: auto">
			<div class="form">
			  	<div class="form-group">
			    	<label for="title">ชื่อแมทซ์</label>
			    	<input ng-model="match.name" type="text" class="form-control input-sm" id="title" placeholder="ชื่อแมทซ์">
			  	</div>
			  	<div class="form-group">
			    	<label for="title">รับสมัคร</label>
			    	<div class="row">
			    		<div class="col-md-6">
			    			<input ng-model="match.regstart" type="date" class="form-control input-sm" id="title">
			    		</div>
			    		<div class="col-md-6">
			    			<input ng-model="match.regend" type="date" class="form-control input-sm" id="title">
			    		</div>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="title">แข่งขันจริง</label>
			    	<input ng-model="match.datematch" type="date" class="form-control input-sm" id="title">
			  	</div>
			  	<div class="form-group">
			    	<label for="message">กำหนดการ</label>
			    	<textarea ng-model="match.details" class="form-control" id="message"></textarea>
			  	</div>
			</div>
      	</div>
      	<div class="modal-footer">
      		<span ng-bind="errMsg" class="pull-left" style="color: red;"></span>
      		<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
        	<button type="button" class="btn btn-primary btn-sm" ng-click="MatchSave()">สร้างแมทซ์</button>
    	</div>
  	</div>
</div>

<!-- Delete Confirm Dialog -->
<div id="dialog-confirm" title="คุณแน่ใจที่จะลบหรือไม่ ?"></div>

<!-- JqueryUI Theme CSS -->
<link rel="stylesheet" type="text/css" 
	href="bower_components/jquery-ui/themes/black-tie/jquery-ui.min.css">

<style type="text/css">
	th {
		text-align: center;
	}
	td:first-child {
		text-align: center;
	}
</style>