<div class="jumbotron"></div>
<div class="container">
	<div class="col-md-12">
		<h1>Dash Board</h1>
		<!-- <canvas tc-chartjs-doughnut chart-options="options" chart-data="data" chart-legend="legend"></canvas>
		<div tc-chartjs-legend chart-legend="legend"></div> -->
		<!-- <canvas tc-chartjs-bar chart-options="options" chart-data="data" auto-legend></canvas> -->
		<canvas tc-chartjs-radar chart-options="options" chart-data="data" auto-legend></canvas>
	</div>
</div>

<style>
.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: left;
  clear:both;
  padding:10px;
}
.tc-chart-js-legend li span {
  width:25px;
  height:25px;
  display:block;
  float:left;
  margin-right:10px;
}
</style>