<div class="jumbotron"></div>
<div class="container" ng-init="initProfile()">
	<div class="row bg-info" >
		<div class="col-md-3" align="center">
			<div style="padding: 5px;">
				<img ng-show="!update" 
					class="img-thumbnail" 
					style="height: 180px;" 
					ng-src="/uploads/{{user.username}}/profile/profile.jpg"
				>
		        <div class="thumbnail" style="padding: 20px; height: 150px;" align="center" ng-show="update">
				    <input type="file" id="inputFile">
				    <a ng-click="upload()" class="btn btn-primary btn-sm">อัพโหลด</a>
				</div>
			</div>
		</div>
			
		<div class="col-md-5" style="color: black;">
			<address>
				<h1>
					<strong>{{ user.codename }}</strong>
				</h1>
				<p style="font-size: 16px;">
					<strong>Level {{ profileData.ranking.Level }}</strong>
				</p>
				<div class="progress">
					<div id="pgLevel" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" 
						class="progress-bar progress-bar-warning progress-bar-striped" 
						style="min-width: 2em; width: 0%;"
					>
						{{ profileData.ranking.Percen | number:1 }}%
					</div>
				</div>
				<a ng-click="update=true" ng-show="!update" class="btn btn-primary btn-sm">
					<i class="fa fa-pencil-square-o"></i> แก้ไขข้อมูลส่วนตัว
				</a>
				<div ng-show="update">
					<a ng-click="Update()" class="btn btn-primary btn-sm">
						<i class="fa fa-check"></i> บันทึกการแก้ไข
					</a>
					<a ng-click="CancelUpdate()" class="btn btn-default btn-sm">
						<i class="fa fa-times"></i> ยกเลิก
					</a>
				</div>
				<a ng-click="modalPassword()" class="btn btn-warning btn-sm">
					<i class="fa fa-asterisk"></i> เปลี่ยรหัสผ่าน
				</a>
			</address>
		</div>
	</div>

	<div class="row well">
		<div class="col-md-7">
			<div class="thumbnail" style="padding: 15px;">
				<fieldset class="form-horizontal">
				    <legend align="center">ข้อมูลทั่วไป</legend>
				    <div class="form-group">
				       	<label class="col-md-4 text-right">ชื่อแสดงผล</label>
				        <div class="col-md-7">			                
					        <input ng-show="update" ng-model="user.codename" type="text" class="form-control" />
					        <b>{{ user.codename }}</b>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">ชื่อ - นามสกุล</label>
				        <div class="col-md-7">			                
				            <input ng-show="update" ng-model="user.name" type="text" class="form-control" style="margin-bottom: 5px;" />
				            <input ng-show="update" ng-model="user.lastname" type="text" class="form-control" />
				                {{ user.name}} {{ user.lastname}}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">เพศ</label>
				        <div class="col-md-7">	
				        	<select ng-show="update" ng-model="user.sex" class="form-control">
				        		<option value="M">ชาย</option>
				        		<option value="F">หญิง</option>
				        	</select>		                
							<span ng-if="user.sex=='M'">ชาย</span>
							<span ng-if="user.sex=='F'">หญิง</span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">วันเกิด</label>
				        <div class="col-md-7">			                
				            <input ng-show="update" ng-model="user.birthday" type="date" class="form-control" />
				            {{ user.birthday | date:'dd/MM/yyyy' }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">อีเมล์</label>
				        <div class="col-md-7">			                
				            <input ng-show="update" ng-model="user.email" type="email" class="form-control" />
				            {{ user.email }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">เวบไซต์</label>
				        <div class="col-md-7">
				            <input ng-show="update" ng-model="user.website" type="text" class="form-control" />
				            {{ user.website==""?'-':user.website }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">จังหวัด</label>
				        <div class="col-md-7">
				            {{ user.province }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">สถานภาพ</label>
				        <div class="col-md-7">
				            {{ reg_status[user.status] }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">เป็นสมาชิกตั้งแต่</label>
				        <div class="col-md-7">
				            {{ user.date | date:'dd/MM/yyyy HH:mm:ss' }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">FACEBOOK</label>
				        <div class="col-md-7">
				            <input ng-show="update" ng-model="user.facebook" type="text" class="form-control" />			           
				            <b>{{ user.facebook==""?'-':user.facebook }}</b>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">เบอร์ติดต่อ</label>
				        <div class="col-md-7">
				            <input ng-show="update" ng-model="user.tel" type="text" class="form-control" />
				         <b>{{ user.tel==""?'-':user.tel }}</b>
				        </div>
				    </div>
				</fieldset>
			</div>
		</div>

		<div class="col-md-5">
			<div class="thumbnail" style="padding: 15px;">
				<fieldset class="form-horizontal">
				    <legend>	
				    	<span class="portlet-header pull-right">
							<i class="fa fa-arrows-alt"></i>
						</span>
						สถิติการใช้งาน
					</legend>
				    <div class="form-group">
				        <label class="col-md-12 text-right">จำนวนโจทย์ที่ทำ</label>
				    </div>   
				    <div class="form-group">
				        <label class="col-sm-4 text-right">ง่าย</label>
				        <div class="col-sm-8">
				            {{ profileData.statistic.count_easy }} &nbsp;&nbsp;ข้อ
				        </div>
				    </div>    
				    <div class="form-group">
				        <label class="col-sm-4 text-right">ปานกลาง</label>
				        <div class="col-sm-8">
				            {{ profileData.statistic.count_medium }} &nbsp;&nbsp;ข้อ
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 text-right">ยาก</label>
				        <div class="col-sm-8">
				            {{ profileData.statistic.count_hard }} &nbsp;&nbsp;ข้อ
				        </div>
				    </div>
				</fieldset>
			</div>
			
			<div class="thumbnail" style="padding: 15px;">
				<fieldset class="form-horizontal">
				    <legend>
				    	<span class="portlet-header pull-right">
							<i class="fa fa-arrows-alt"></i>
						</span>
						สถิติการทำโจทย์
					</legend>
				    <div class="form-group">
				        <label class="col-md-12 text-right">ข้อที่ผ่าน</label>
				        <div class="col-md-12">
				            <span style="margin-right: 5px;" 
				            	ng-repeat="p in profileData.pass track by $index"
				            >
				            	<a href="#/task/view/{{p}}" target="_blank" ng-show="p != '-'">
				            		{{ p }}
				            	</a>&nbsp;
				            	<strong ng-show="p == '-'">{{ p }}</strong>
				            </span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-12 text-right">ข้อที่ไม่ผ่าน</label>
				        <div class="col-md-12">
				            <span style="margin-right: 5px;" 
				            	ng-repeat="p in profileData.notpass track by $index"
				            >
				            	<a href="#/task/view/{{p}}" target="_blank" ng-show="p != '-'">
				            		{{ p }}
				            	</a>&nbsp;
				            	<strong ng-show="p == '-'">{{ p }}</strong>
				            </span>
				        </div>
				    </div>
				</fieldset>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="form-horizontal">
	<div class="modal fade" id="myModal">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">
	        			<b>
		        			<i class="fa fa-asterisk"></i>
		        			เปลี่ยนแปลงรหัสผ่าน
	        			</b>
	        		</h4>
	      		</div>
	     		
		     	<div class="modal-body">
				  	<div class="form-group">
				    	<label for="old_pw" class="col-sm-4 control-label">รหัสผ่านเดิม</label>
				    	<div class="col-sm-7">
				      		<input ng-model="old_pw" type="password" class="form-control" id="old_pw" placeholder="รหัสผ่าน">
				    	</div>
				  	</div>
					<hr />
				  	<div class="form-group">
				    	<label for="new_pw" class="col-sm-4 control-label">รหัสผ่านใหม่</label>
				    	<div class="col-sm-7">
				      		<input ng-model="new_pw" type="password" class="form-control" id="new_pw" placeholder="รหัสผ่าน">
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="re_pw" class="col-sm-4 control-label">รหัสผ่านใหม่ อีกครั้ง</label>
				    	<div class="col-sm-7">
				      		<input ng-model="re_pw" type="password" class="form-control" id="re_pw" placeholder="รหัสผ่าน">
				    	</div>
				  	</div>
	      		</div>

		      	<div class="modal-footer">
			      	<div align="center">
			        	<button ng-click="changePassword()" type="submit" class="btn btn-primary">
			        		เปลี่ยน
			        	</button>
			        	<button type="reset" class="btn btn-default" data-dismiss="modal">
			        		ยกเลิก
			        	</button>
			      	</div>
		      	</div>
	    	</div>
	  	</div>
	</div>
</div>

<style type="text/css">
	.portlet-header {
	    padding: 0.2em 0.3em;
	    margin-bottom: 0.5em;
	    position: relative;
	}
	.portlet-placeholder {
    	border: 1px dotted black;
    	margin: 0 1em 1em 0;
    	height: 100px;
  	}
</style>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>