<div class="jumbotron"></div>
<div class="container" ng-init="initPublicProfile()">
	<div class="row bg-info" >
		<div class="col-md-3" align="center">
			<div style="padding: 5px;">
				<img ng-show="!update" 
					class="img-thumbnail" 
					style="width: 180px; height: 180px;" 
					ng-src="/uploads/{{user.username}}/profile/profile.jpg"
				>
			</div>
		</div>
			
		<div class="col-md-5" style="color: black;">
			<address>
				<h1>
					<strong>{{ user.codename }}</strong>
				</h1>
				<p style="font-size: 16px;">
					<strong>Level {{ profileData.ranking.Level }}</strong>
				</p>
				<div class="progress">
					<div id="pgLevel" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" 
						class="progress-bar progress-bar-warning progress-bar-striped" 
						style="min-width: 2em; width: 0%;"
					>
						{{ profileData.ranking.Percen | number:1 }}%
					</div>
				</div>
			</address>
		</div>
	</div>

	<div class="row well">
		<div class="col-md-7">
			<div class="thumbnail" style="padding: 15px;">
				<fieldset class="form-horizontal">
				    <legend align="center">ข้อมูลทั่วไป</legend>
				    <div class="form-group">
				       	<label class="col-md-4 text-right">ชื่อแสดงผล</label>
				        <div class="col-md-7">			                
					        <b>{{ user.codename }}</b>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">ชื่อ - นามสกุล</label>
				        <div class="col-md-7">			                
				            {{ user.name}} {{ user.lastname}}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">เพศ</label>
				        <div class="col-md-7">	
				        	<select ng-show="update" ng-model="user.sex" class="form-control">
				        		<option value="M">ชาย</option>
				        		<option value="F">หญิง</option>
				        	</select>		                
							<span ng-if="user.sex=='M'">ชาย</span>
							<span ng-if="user.sex=='F'">หญิง</span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">วันเกิด</label>
				        <div class="col-md-7">			                
				            {{ user.birthday | date:'dd/MM/yyyy' }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">อีเมล์</label>
				        <div class="col-md-7">			                
				            {{ user.email }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">เวบไซต์</label>
				        <div class="col-md-7">
				            {{ user.website==""?'-':user.website }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">จังหวัด</label>
				        <div class="col-md-7">
				            {{ user.province }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">สถานภาพ</label>
				        <div class="col-md-7">
				            {{ reg_status[user.status] }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">เป็นสมาชิกตั้งแต่</label>
				        <div class="col-md-7">
				            {{ user.date | date:'dd/MM/yyyy HH:mm:ss' }}
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-4 text-right">FACEBOOK</label>
				        <div class="col-md-7">		           
				            <b>{{ user.facebook==""?'-':user.facebook }}</b>
				        </div>
				    </div>
				</fieldset>
			</div>
		</div>

		<div class="col-md-5">
			<div class="thumbnail" style="padding: 15px;">
				<fieldset class="form-horizontal">
				    <legend>	
						สถิติการใช้งาน
					</legend>
				    <div class="form-group">
				        <label class="col-md-12 text-right">จำนวนโจทย์ที่ทำ</label>
				    </div>   
				    <div class="form-group">
				        <label class="col-sm-4 text-right">ง่าย</label>
				        <div class="col-sm-8">
				            {{ profileData.statistic.count_easy }} &nbsp;&nbsp;ข้อ
				        </div>
				    </div>    
				    <div class="form-group">
				        <label class="col-sm-4 text-right">ปานกลาง</label>
				        <div class="col-sm-8">
				            {{ profileData.statistic.count_medium }} &nbsp;&nbsp;ข้อ
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-4 text-right">ยาก</label>
				        <div class="col-sm-8">
				            {{ profileData.statistic.count_hard }} &nbsp;&nbsp;ข้อ
				        </div>
				    </div>
				</fieldset>
			</div>
			
			<div class="thumbnail" style="padding: 15px;">
				<fieldset class="form-horizontal">
				    <legend>
						สถิติการทำโจทย์
					</legend>
				    <div class="form-group">
				        <label class="col-md-12 text-right">ข้อที่ผ่าน</label>
				        <div class="col-md-12">
				            <span style="margin-right: 5px;" 
				            	ng-repeat="p in profileData.pass track by $index"
				            >
				            	<a href="#/task/view/{{p}}" target="_blank" ng-show="p != '-'">
				            		{{ p }}
				            	</a>&nbsp;
				            	<strong ng-show="p == '-'">{{ p }}</strong>
				            </span>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-12 text-right">ข้อที่ไม่ผ่าน</label>
				        <div class="col-md-12">
				            <span style="margin-right: 5px;" 
				            	ng-repeat="p in profileData.notpass track by $index"
				            >
				            	<a href="#/task/view/{{p}}" target="_blank" ng-show="p != '-'">
				            		{{ p }}
				            	</a>&nbsp;
				            	<strong ng-show="p == '-'">{{ p }}</strong>
				            </span>
				        </div>
				    </div>
				</fieldset>
			</div>
		</div>
	</div>
</div>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>