<div class="well"></div>
<!-- Form Registration Member : MemberController -->
<form class="form-horizontal container" ng-controller="MemberController" ng-submit="save()">
	<h4>ข้อมูลการเข้าระบบ</h4>
	<div class="well">
	  	<div class="form-group">
	    	<label for="username" class="col-sm-2 control-label">ชื่อผู้ใช้งาน</label>
	    	<div class="col-sm-3">
	      		<input ng-model="member.username" type="text" name="username" class="form-control" id="username" placeholder="ชื่อผู้ใช้งาน" required>
	    		<span class="text-{{msgUser.c}}">{{ msgUser.msg }}</span>
	    	</div>
	    	<div class="col-sm-1">
	    		<a ng-click="check()" class="btn btn-primary btn-sm">ตรวจสอบ</a>
	    	</div>
	  	</div>
	  	<div class="form-group">
		    <label for="codename" class="col-sm-2 control-label">ชื่อสำหรับแสดงผล</label>
		    <div class="col-sm-4">
		      	<input ng-model="member.codename" type="text" class="form-control" id="codename" placeholder="ชื่อสำหรับแสดงผล" required>
		   	</div>
		</div>
		<div class="form-group">
		    <label for="password" class="col-sm-2 control-label">รหัสผ่าน</label>
		    <div class="col-sm-4">
		      	<input ng-model="member.password" type="password" class="form-control" id="password" placeholder="รหัสผ่าน" required>
		   		<span class="text-danger">{{ msgError }}</span>
		   	</div>
		</div>
		<div class="form-group">
		    <label for="repassword" class="col-sm-2 control-label">ทวนรหัสผ่าน</label>
		    <div class="col-sm-4">
		      	<input ng-model="member.repassword" type="password" class="form-control" id="repassword" placeholder="ทวนรหัสผ่าน" required>
		   		<span class="text-danger">{{ msgError }}</span>
		   	</div>
		</div>
		<div class="form-group" ng-show="user.level == 'ADMIN'">
	    	<label for="level" class="col-sm-2 control-label">ระดับ</label>
	    	<div class="col-sm-4">
	      		<div class="radio radio-primary radio-inline">
				  	<input type="radio" ng-model="member.level" value="ADMIN">
				  	<label>ADMIN</label>
				</div>
				<div class="radio radio-primary radio-inline">
				  	<input type="radio" ng-model="member.level" value="USER">
				  	<label>USER</label>
				</div>
	    	</div>
	  	</div>
	</div>
	
	<h4>ข้อมูลส่วนตัว</h4>
	<div class="well">
		<div class="form-group">
	    	<label for="sex" class="col-sm-2 control-label">เพศ</label>
	    	<div class="col-sm-4">
	      		<div class="radio radio-primary radio-inline">
				  	<input type="radio" ng-model="member.sex" value="M">
				  	<label for="">ชาย</label>
				</div>
				<div class="radio radio-primary radio-inline">
				  	<input type="radio" ng-model="member.sex" value="F">
				  	<label for="">หญิง</label>
				</div>
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<label for="name" class="col-sm-2 control-label">ชื่อ</label>
	    	<div class="col-sm-4">
	      		<input ng-model="member.name" type="text" class="form-control" id="name" placeholder="ชื่อ" required>
	    	</div>
	  	</div>
	  	<div class="form-group">
		    <label for="lastname" class="col-sm-2 control-label">นามสกุล</label>
		    <div class="col-sm-4">
		      	<input ng-model="member.lastname" type="text" class="form-control" id="lastname" placeholder="นามสกุล" required>
		   	</div>
		</div>
		<div class="form-group">
		    <label for="status" class="col-sm-2 control-label">สถานภาพ</label>
		    <div class="col-sm-2">
				<select ng-model="member.status" class="form-control" id="status">
					<option value="general">บุคคลทั่วไป</option>
					<option value="teacher">ครู / อาจารย์</option>
					<option value="student">นักเรียน / นักศึกษา</option>
				</select>
		   	</div>
		</div>
		<div class="form-group">
		    <label for="birthday" class="col-sm-2 control-label">วันเกิด</label>
		    <div class="col-sm-2">
		      	<input ng-model="member.birthday" type="date" class="form-control" id="birthday" required>
		   	</div>
		</div>
		<div class="form-group">
		    <label for="email" class="col-sm-2 control-label">อีเมล์</label>
		    <div class="col-sm-4">
		      	<input ng-model="member.email" type="email" class="form-control" id="email" placeholder="อีเมล์" required>
		   	</div>
		</div>
		<div class="form-group">
		    <label for="province" class="col-sm-2 control-label">จังหวัด</label>
		    <div class="col-sm-2">
				<select ng-model="member.province" class="form-control" id="province">
					<option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
					<option value="กระบี่">กระบี่</option>
					<option value="กาญจนบุรี">กาญจนบุรี</option>
					<option value="กาฬสินธุ์">กาฬสินธุ์</option>
					<option value="กำแพงเพชร">กำแพงเพชร</option>
					<option value="ขอนแก่น">ขอนแก่น</option>
					<option value="จันทบุรี">จันทบุรี</option>
					<option value="ฉะเชิงเทรา">ฉะเชิงเทรา</option>
					<option value="ชลบุรี">ชลบุรี</option>
					<option value="ชัยนาท">ชัยนาท</option>
					<option value="ชัยภูมิ">ชัยภูมิ</option>
					<option value="ชุมพร">ชุมพร</option>
					<option value="เชียงราย">เชียงราย</option>
					<option value="เชียงใหม่">เชียงใหม่</option>
					<option value="ตรัง">ตรัง</option>
					<option value="ตราด">ตราด</option>
					<option value="ตาก">ตาก</option>
					<option value="นครนายก">นครนายก</option>
					<option value="นครปฐม">นครปฐม</option>
					<option value="นครพนม">นครพนม</option>
					<option value="นครราชสีมา">นครราชสีมา</option>
					<option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
					<option value="นครสวรรค์">นครสวรรค์</option>
					<option value="นนทบุรี">นนทบุรี</option>
					<option value="นราธิวาส">นราธิวาส</option>
					<option value="น่าน">น่าน</option>
					<option value="บุรีรัมย์">บุรีรัมย์</option>
					<option value="ปทุมธานี">ปทุมธานี</option>
					<option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์</option>
					<option value="ปราจีนบุรี">ปราจีนบุรี</option>
					<option value="ปัตตานี">ปัตตานี</option>
					<option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา</option>
					<option value="พะเยา">พะเยา</option>
					<option value="พังงา">พังงา</option>
					<option value="พัทลุง">พัทลุง</option>
					<option value="พิจิตร">พิจิตร</option>
					<option value="พิษณุโลก">พิษณุโลก</option>
					<option value="เพชรบุรี">เพชรบุรี</option>
					<option value="เพชรบูรณ์">เพชรบูรณ์</option>
					<option value="แพร่">แพร่</option>
					<option value="ภูเก็ต">ภูเก็ต</option>
					<option value="มหาสารคาม">มหาสารคาม</option>
					<option value="มุกดาหาร">มุกดาหาร</option>
					<option value="แม่ฮ่องสอน">แม่ฮ่องสอน</option>
					<option value="ยโสธร">ยโสธร</option>
					<option value="ยะลา">ยะลา</option>
					<option value="ร้อยเอ็ด">ร้อยเอ็ด</option>
					<option value="ระนอง">ระนอง</option>
					<option value="ระยอง">ระยอง</option>
					<option value="ราชบุรี">ราชบุรี</option>
					<option value="ลพบุรี">ลพบุรี</option>
					<option value="ลำปาง">ลำปาง</option>
					<option value="ลำพูน">ลำพูน</option>
					<option value="เลย">เลย</option>
					<option value="ศรีสะเกษ">ศรีสะเกษ</option>
					<option value="สกลนคร">สกลนคร</option>
					<option value="สงขลา">สงขลา</option>
					<option value="สตูล">สตูล</option>
					<option value="สมุทรปราการ">สมุทรปราการ</option>
					<option value="สมุทรสงคราม">สมุทรสงคราม</option>
					<option value="สมุทรสาคร">สมุทรสาคร</option>
					<option value="สระแก้ว">สระแก้ว</option>
					<option value="สระบุรี">สระบุรี</option>
					<option value="สิงห์บุรี">สิงห์บุรี</option>
					<option value="สุโขทัย">สุโขทัย</option>
					<option value="สุพรรณบุรี">สุพรรณบุรี</option>
					<option value="สุราษฏร์ธานี">สุราษฏร์ธานี</option>
					<option value="สุรินทร์">สุรินทร์</option>
					<option value="หนองคาย">หนองคาย</option>
					<option value="หนองบัวลำภู">หนองบัวลำภู</option>
					<option value="อ่างทอง">อ่างทอง</option>
					<option value="อำนาจเจริญ">อำนาจเจริญ</option>
					<option value="อื่นๆ">อื่นๆ</option>
					<option value="อุดรธานี">อุดรธานี</option>
					<option value="อุตรดิตถ์">อุตรดิตถ์</option>
					<option value="อุทัยธานี">อุทัยธานี</option>
					<option value="อุบลราชธานี">อุบลราชธานี</option>
				</select>
		   	</div>
		</div>
	</div>
	
	<div align="center" class="well">
	    <button type="submit" class="btn btn-primary">ลงทะเบียน</button>
	    <button type="reset" class="btn btn-default">ยกเลิก</button>
	</div>
</form>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>