<div class="jumbotron"></div>
<div class="container" ng-init="init()">
	<!-- Task Menu -->
	<div class="alert alert-info">
		<div class="row">
			<div class="col-md-12">
				<div class="pull-right">
					<a class="btn btn-primary">ดูผลการตรวจของคุณ</a>
					<a class="btn btn-success">ดูผลการตรวจทั้งหมด</a>
					<a href="#/task" class="btn btn-danger">วีธีการใช้งาน</a>
				</div>
				<h1>โจทย์ปัญหา</h1><hr>
			</div>
			<!-- Easy Task -->
		  	<div class="col-md-4">
		    	<div class="thumbnail" align="center">
		      		<div class="caption">
		        		<h3>โจทย์ง่าย</h3>
		        		<hr></hr>
				        <p>
				        	<a href="#/task/EASY" ng-click="taskMode('EASY')" class="btn btn-primary">เริ่มทำ</a>
				        </p>
		      		</div>
		    	</div>
		  	</div>
		  	<!-- Medium Task -->
		  	<div class="col-md-4">
			    <div class="thumbnail" align="center">
			      	<div class="caption">
				        <h3>โจทย์ปานกลาง</h3>
				        <hr></hr>
				        <p>
							<a href="#/task/MEDIUM" ng-click="taskMode('MEDIUM')" class="btn btn-primary">เริ่มทำ</a>
				        </p>
			      	</div>
			    </div>
		  	</div>
		  	<!-- Hard Task -->
		  	<div class="col-md-4">
			    <div class="thumbnail" align="center">
			      	<div class="caption">
				        <h3>โจทย์ยาก</h3>
				        <hr></hr>
				        <p>
				        	<a href="#/task/HARD" ng-click="taskMode('HARD')" class="btn btn-primary">เริ่มทำ</a>
				        </p>
				    </div>
			    </div>
			</div>
		</div>
	</div>
	
	<!-- Task Content -->
	<div class="row">
		<div class="col-md-12">
			<!-- Show Task Help -->
			<div ng-if="!task.params">
				<ng-include src="'views/task/help.html'"></ng-include>
			</div>
			<!-- Show Task Problem -->
			<div ng-if="task.params">
				<table class="table table-striped">
					<thead style="font-size: 18px;" class="bg-primary">
						<th width="50px" height="40px"></th>
						<th width="70px">#</th>
						<th style="text-align: center">
							<span ng-if="task.params.Mode == 'EASY'">
								โจทย์ง่าย
							</span>
							<span ng-if="task.params.Mode == 'MEDIUM'">
								โจทย์ปานกลาง
							</span>
							<span ng-if="task.params.Mode == 'HARD'">
								โจทย์ยาก
							</span>
						</th>
						<th width="100px">ส่ง</th>
						<th width="100px">ผ่าน</th>
					</thead>
					<tbody>
						<tr ng-repeat="task in tasks">
							<td>
								<button ng-if="$index%2==1" class="btn btn-success">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
								<button ng-if="$index==2" class="btn btn-danger">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</td>
							<td>{{ task.code }}</td>
							<td><a ng-href="#/task/view/{{task.code}}">{{ task.title }}</a></td>
							<td>{{ task.sendtotal }}</td>
							<td>{{ task.passtotal }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
	</div>
</div>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>