<div class="jumbotron"></div>
<div class="container">
	<h1 align="center">
		ERROR 404 
		<br /><br />
		ไม่พบหน้าที่ต้องการ!
		<br /><br />
		<i class="fa fa-warning fa-5x"></i>
		<br /><br />
	</h1>
</div>