<!-- Main jumbotron -->
<div class="jumbotron"></div>

<!-- home content -->
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="well table-responsive">
				<span colspan="2" style="font-size: 200%;">
					ผลการตรวจล่าสุด<hr />
				</span>
				<table id="tasksubmit_table" class="table table-striped" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>เวลาส่ง</th>
							<th>ชื่อสมาชิก</th>
							<th>โจทย์</th>
							<th>ภาษา</th>
							<th>ผลการตรวจ</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>

		<div class="col-md-4" ng-init="initRanking()">
			<div class="well">
				<table class="table" width="100%" ng-init="lmt=10">
					<thead>
						<tr>
							<th colspan="2" style="font-size: 200%; text-align: right;">RANKING</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="rankings.length == 0">
							<td colspan="3">
								<h4>ไม่พบข้อมูล...</h4>
							</td>
						</tr>
						<tr ng-show="rankings.length != 0" 
							ng-repeat="r in rankings | orderBy:['-Point'] | limitTo:lmt">
							<td ng-show="$index < 10" width="30px" style="font-size: 200%; text-align: right;">
								{{ $index + 1 }}
							</td>
							<td ng-show="$index >= 10" width="30px" style="font-size: 150%; text-align: right;">
								{{ $index + 1 }}
							</td>
							<td>
								<label>
									<span ng-show="$index < 10" style="font-size: 120%;">
										<a href="#/profile/public/{{r.UserName}}">{{ r.CodeName }}</a>
									</span> 
									<span ng-show="$index >= 10" style="font-size: 100%;">
										<a href="#/profile/public/{{r.UserName}}">{{ r.CodeName }}</a>
									</span>  
									&nbsp;&nbsp;Level {{ r.Level }}
								</label>
								<small>( {{ r.Percen | number:1 }}% )</small>
								<div class="progress">
								  	<div class="progress-bar {{progressbarProcess(r.Percen)}}" role="progressbar" aria-valuenow="{{r.Percen}}" aria-valuemin="0" aria-valuemax="100" style="width: {{r.Percen}}%"></div>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot ng-show="rankings.length >= 10">
						<tr>
							<td colspan="2">
								<button ng-show="lmt != rankings.length" ng-click="lmt = rankings.length" class="btn btn-primary btn-sm">
									ดูทั้งหมด <span class="glyphicon glyphicon-triangle-right"></span>
								</button>
								<button ng-show="lmt >= rankings.length" ng-click="lmt = 10" class="btn btn-primary btn-sm">
									<span class="glyphicon glyphicon-triangle-left"></span> ย่อ
								</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
	   	</div>
	</div>
</div>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>