<div class="well"></div>
<div class="container" ng-init="init()">
	<h1>SCORE BOARD</h1>
	<div class="pull-right">Last Update : {{ lastUpdate|date:'dd/MM/yyyy, HH:mm:ss' }}</div>
	<hr></hr>
	<div class="table-responsive">
	<table class="table" style="margin-top: 10px;">
		<thead class="bg-primary">
			<th style="text-align: center;" width="50px">Rank</th>
			<th>Name</th>
			<th width="90px" style="text-align: center;">Solved</th>
			<th width="90px" style="text-align: center;">Time</th>
			<th ng-repeat="t in tasks" width="85px" style="text-align: center;">
				{{ t.code }}
			</th>
			<th width="125px" style="text-align: center;">Total att/solv</th>
		</thead>
		<tbody style="text-align: center;" class="bg-success">
			<tr ng-repeat="d in datas | orderBy:['-submit.solved','submit.totaltime']" ng-init="i = $index+1" ng-style="getRankStyle(i)">
				<td>{{ i }}</td>
				<td style="text-align: left;">
					{{ d.detail.teamname }}
				</td>
				<td>{{ d.submit.solved }}</td>
				<td>{{ d.submit.totaltime }}</td>
				<td ng-repeat="t in tasks" 
					ng-init="len=d.submit.tasks[t.code].length; times=d.submit.tasks[t.code]" 
					ng-class="getClass(d.submit.tasks[t.code], d.submit.first[t.code])"
				>
					<span ng-if="len!=0" >
						{{ len }}/{{ times[len-1] == 0 ? '--' : times[len-1] }}
					</span>
				</td>
				<td>{{ d.submit.totalsovled }}/{{ d.submit.solved }}</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

<!-- animate view -->
<script type="text/javascript">
	$('body').hide()

	$(document).ready(function() {
		$('body').animate({
		  	opacity: "show"
		}, "slow")
	})
</script>