<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		  	</button>
		  	<a class="navbar-brand" href="#/">SUT Compiler ONLINE</a>
		</div>
		
		<div id="navbar" class="navbar-collapse collapse">
		  	<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="#/team/match">
						<i class="fa fa-star"></i>
						&nbsp;การแข่งขัน
					</a>
				</li>
		  	</ul>
		  	<ul class="nav navbar-nav navbar-right">
				<!-- <li><a href="#/team/reg">สมัครแข่งขัน</a></li> -->
				<li>
					<a href="#/member/reg">
						<i class="fa fa-user-plus"></i>
						&nbsp;ลงทะเบียนใหม่
					</a>
				</li>
				<li>
					<a href="#/" data-toggle="modal" data-target="#myModal">
						<i class="fa fa-sign-in"></i>
						&nbsp;เข้าสู่ระบบ
					</a>
				</li>
		  	</ul>
		</div>
	</div>
</nav>

<!-- Modal -->
<form class="form-horizontal">
	<div class="modal fade" id="myModal">
	  	<div class="modal-dialog">
	    	<div ng-controller="LoginController" class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title"><b>เข้าใช้งานระบบ</b></h4>
	      		</div>
	     		
		     	<div class="modal-body">
				  	<div class="form-group">
				    	<label for="usName" class="col-sm-3 control-label">ชื่อผู้ใช้งาน</label>
				    	<div class="col-sm-8">
				      		<input ng-model="userName" type="text" class="form-control" id="usName" placeholder="ชื่อผู้ใช้งาน">
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="passWd" class="col-sm-3 control-label">รหัสผ่าน</label>
				    	<div class="col-sm-8">
				      		<input ng-model="passWd" type="password" class="form-control" id="passWd" placeholder="รหัสผ่าน">
				    	</div>
				  	</div>
	      		</div>

		      	<div class="modal-footer">
			      	<div align="center">
			        	<button ng-click="Login()" type="submit" class="btn btn-primary">ตกลง</button>
			        	<button type="reset" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
			      	</div>
		      	</div>
	    	</div>
	  	</div>
	</div>
</form>