<div ng-controller="LoginController" ng-switch="user.level">
	<div ng-switch-when="ADMIN">
		<ng-include src="'views/layouts/navbar_admin.html'"></ng-include>
	</div>
	<div ng-switch-when="USER">
		<ng-include src="'views/layouts/navbar_user.html'"></ng-include>
	</div>
	<div ng-switch-when="TEAM">
		<ng-include src="'views/layouts/navbar_team.html'"></ng-include>
	</div>
	<div ng-switch-default>
		<ng-include src="'views/layouts/navbar_guest.html'"></ng-include>
	</div>
</div>