<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		  	</button>
		  	<a class="navbar-brand" href="#/">SUT Compiler ONLINE</a>
		</div>
		
		<div id="navbar" class="navbar-collapse collapse">
		  	<ul class="nav navbar-nav navbar-right">
		  		<li>
					<a href="#/team/match">
						<i class="fa fa-star"></i>
						&nbsp;การแข่งขัน
					</a>
		  		</li>
				<li>
					<a href="#/logout">
						<i class="fa fa-sign-out"></i>
						&nbsp;ออกจากระบบ
					</a>
				</li>
		  	</ul>
		</div>
	</div>
</nav>