<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		  	</button>
		  	<a class="navbar-brand" href="#/">SUT Compiler ONLINE</a>
		</div>
		
		<div id="navbar" class="navbar-collapse collapse" style="font-size: 105%;">
		  	<ul class="nav navbar-nav navbar-right">
		  		<li>
		  			<a href="#/admin/manage/match">
		  				<i class="glyphicon glyphicon-time"></i> 
		  				&nbsp;การแข่งขัน
		  			</a>
		  		</li>
		  		<!-- <li class="dropdown">
		          	<a class="dropdown-toggle" data-toggle="dropdown" role="button">
		          		<i class="fa fa-tasks"></i> 
		          		&nbsp;โจทย์ปัญหา 
		          		<span class="caret"></span>
		          	</a>
		          <ul class="dropdown-menu" role="menu">
		            <li>
		            	<a href="#/admin/manage/task">
		            		<i class="fa fa-cog"></i>
		          			&nbsp;จัดการโจทย์
		          		</a>
		          	</li>
		            <li class="divider"></li>
		            <li>
		            	<a href="#/admin/manage/score">
		            		<i class="fa fa-cog"></i>
		          			&nbsp;จัดการคะแนน
		            	</a>
		            </li>
		          </ul>
		        </li> -->
		  		<li class="dropdown">
		          	<a class="dropdown-toggle" data-toggle="dropdown" role="button">
		          		<i class="fa fa-cog"></i>
		          		&nbsp;การตั้งค่า 
		          		<span class="caret"></span>
		          	</a>
		          <ul class="dropdown-menu" role="menu">
		           <!--  <li>
		            	<a href="#/admin/manage/team/genpassword">
							<i class="fa fa-key"></i>
			            	&nbsp;ทีมแข่งขัน
		            	</a>
		            </li> -->
		            <li>
		            	<a href="#/admin/manage/task">
		            		<i class="fa fa-cog"></i>
		          			&nbsp;จัดการโจทย์
		          		</a>
		          	</li>
		            <li>
		            	<a href="#/admin/manage/member">
		            		<i class="fa fa-user"></i>
		            		&nbsp;ผู้ใช้งาน
		            	</a>
		            </li>
		            <li class="divider"></li>
		            <li>
		            	<a href="#/admin/manage/score">
		            		<i class="fa fa-cog"></i>
		          			&nbsp;จัดการคะแนน
		            	</a>
		            </li>
		          </ul>
		        </li>
		        <li>
		  			<img class="img-circle hidden-xs" 
		  				style="max-height: 40px; margin-top: 10px;" 
		  				ng-src="/uploads/{{user.username}}/profile/profile.jpg" />
		  		</li>
		  		<li class="dropdown">
		  			<a class="dropdown-toggle" data-toggle="dropdown" role="button">
		  				{{user.codename}}&nbsp;
		  				<span class="caret"></span>
		  			</a>
		          	<ul class="dropdown-menu" role="menu">
			            <li>
			            	<a href="#/member/profile">
			            		<i class="fa fa-user"></i>
			            		&nbsp;ข้อมูลส่วนตัว
			            	</a>
			            </li>
			            <li class="divider"></li>
						<li>
							<a href="#/logout">
								<i class="fa fa-sign-out"></i>
								&nbsp;ออกจากระบบ
							</a>
						</li>
		          	</ul>
		        </li>
		  	</ul>
		</div>
	</div>
</nav>