<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		  	</button>
		  	<a class="navbar-brand" href="#/">SUT Compiler ONLINE</a>
		</div>
		
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
		  		<li><a href="#/task">Task</a></li>
		  	</ul>
		  	<ul class="nav navbar-nav navbar-right" ng-controller="LoginController">
		  		<li>
		  			<!-- <a href="#/admin/dashboard" >
		  			</a> -->
		  			<button type="button" onclick="window.location.href='#/team/reg'" 
		  				class="btn btn-default navbar-btn btn-sm">
		  				<i class="fa fa-user-secret"></i> 
		  				&nbsp;สร้างทีมแข่งขัน
		  			</button>
					<span class="glyphicon glyphicon-option-vertical"></span>
		  		</li>
		  		<li>
		  			<img class="img-circle hidden-xs" 
		  				style="max-height: 40px; margin-top: 10px;" 
		  				ng-src="/uploads/{{user.username}}/profile/profile.jpg" />
		  		</li>
		  		<li class="dropdown">
		  			<a class="dropdown-toggle" data-toggle="dropdown" role="button">
		  				{{user.codename}}&nbsp;
		  				<span class="caret"></span>
		  			</a>
		          	<ul class="dropdown-menu" role="menu">
			            <li>
			            	<a href="#/member/profile">
			            		<i class="fa fa-user"></i>
			            		&nbsp;ข้อมูลส่วนตัว
			            	</a>
			            </li>
			            <li class="divider"></li>
						<li>
							<a href="#/logout">
								<i class="fa fa-sign-out"></i>
								&nbsp;ออกจากระบบ
							</a>
						</li>
		          	</ul>
		        </li>
		  	</ul>
		</div>
	</div>
</nav>